header{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 1% 4%;
    top: 0px;
}

header ul{
    display: flex;
    align-items: end;
    text-align: right;
}

header ul li{
    display: inline-block;
    margin: 1%;
}

header ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
}